.genres {
    margin-left: 15px;
    margin-top: 5px;
}
html body {
  background-color: #F8F9FA ;
}
.card-shadow{
  transition: all .3s ease-in-out;

}
 .card-shadow:hover {
  transform: scale(1.05, 1.05);
} 
